<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>
<h1>Update turistattraktion</h1>
<form action="#" th:action="@{/attraction/save}" th:object="${attraction}" method="post">
    <label>Navn:</label>
    <label>
        <input type="text" th:field="*{name}" required>
    </label>
    <br>
    <label>Beskrivelse:</label>
    <label>
        <input type="text"  th:field="*{description}" required>
    </label>
    <br>

    <label>By:</label>
    <label>
        <select th:field="*{city}">
            <option th:each="city : ${cityList}"
                    th:value="${city.key}"
                    th:text="${city.value}">
            </option>
        </select>
    </label>
    <br>
    <label>Tags:</label>
    <br>
    <div th:each="tag : ${tagList}" >
        <input type="checkbox" th:field="*{tags}" th:value="${tag.key}" name="id">
        <label th:text="${tag.value}"></label>
    </div>
    <button type="submit">Add</button>
</form>
<a href="/attraction/list"><button>Fortryd</button></a>
</body>
</html>